html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
}

#main {
    background-color: #eee;
    margin: 30px 8px;
    padding: 20px;
    border-radius: 10px;
}

img {
    margin-bottom: 2rem;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

#headline {
    margin-top: 50px;
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 560px;
    margin: 0 auto 50px auto;
    text-align: left;
    font-size: 1.6rem;
}

li {
    margin: 16px 0;
    margin-bottom: 2rem;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

blockquote p {
    margin-bottom: 2rem;
}

@media (max-width: 460px){
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
    #main {
        margin: 0;
    }
    #img-caption {
        font-size: 1.4rem;
    }
}
